.header {
  background-color: rgb(40, 48, 48);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  @media screen and (max-width: 767px) {
    max-width: 600px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 1000px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.logo {
  font-size: 20px;
  padding: 5px 10px;
  background-color: bisque;
  color: #000;
  border-radius: 5px;
}

.btn {
  color: #fff;
  display: flex;
  gap: 5px;
  align-items: center;
}

.wallet_icon {
  color: purple;
}

.address,
.balance {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wrapper {
  padding: 5px 10px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.address_value, .balance_value {
padding: 7px;
background-color:rgb(65, 84, 84);
border-radius: 5px;
}
